.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-12);
  box-shadow: 2px 4px 6px hsla(0, 0%, 0%, 0.2);
}

.project-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  transition: var(--transition-1);
}

.project-card .card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

.project-card .card-title {
  color: var(--black);
  margin-bottom: 10px;

  background: var(--sizzling-sunrise-bold);
  padding: 6px 12px;
  width: max-content;
  box-shadow: var(--shadow-1);
  transform: translateY(20px);
  opacity: 0;
  transition: var(--transition-1);
}

.project-card:is(:hover) :is(.card-title) {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .project {
    all: unset;
    padding-block: var(--section-padding);
    padding-top: 120px;
  }

  .card {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 80px;
  }
}
